server:
  port: 8080
spring:
  application:
    name: library
  output:
    ansi:
      enabled: always
  datasource:
    driverClassName: org.h2.Driver
    password: ''
    url: jdbc:h2:mem:librarydb
    username: sa
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
